<div class="container">
<h2 class="mt-2">My bookings</h2>
  <div>
    <% @bookings.each do |booking| %>
      <div class="big-card-border big-border-animated">
        <div class="card-product">
          <%= cl_image_tag booking.experience.photo.key %>
          <div>
            <div>
              <h3 class="ms-5 pt-2"><%= booking.experience.name %> - ¥<%= booking.total_price.to_i %></h3>
              <p class="mb-2 ms-5">📍 <%= booking.experience.address %></p>
              <p class="ms-5"><strong><%= booking.status %></strong></p>
              <p class="ms-5 pb-2"><%= booking.start_date %> - <%= booking.end_date %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
