<div class="container">
  <h2 class="mt-2">My bookings</h2>
  <div>
    <% @bookings.each do |booking| %>
      <div class="big-card-border big-border-animated">
        <div class="card-product">
          <%= cl_image_tag booking.experience.photo.key %>
          <div>
            <div>
              <h3 class="ms-4 pt-2"><%= booking.experience.name %> - ¥<%= booking.total_price.to_i %></h3>
              <p class="mb-2 ms-4"><i class="fa-solid fa-map-pin" style="color: red;"></i> <%= booking.experience.address %></p>
              <p class="ms-4 pb-2"><%= booking.start_date %> - <%= booking.end_date %></p>
              <p class="ms-4"><strong><%= booking.status %></strong></p>
            </div>
          </div>
        </div>
        <%= link_to "Delete",
          booking_path(booking),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-secondary btn-sm m-2" %>
      </div>
    <% end %>
  </div>
</div>
