<div class="main-container chat row" data-controller="booking-subscription"
  data-booking-subscription-booking-id-value="<%= @booking.id %>">
  <div class="col-2 p-0">
    <div class="chat-navbar d-flex flex-column justify-content-start align-items-start padded">
      <p class="name-workspace my-0">Knight Time</p>
      <p class="name-user"><i class="fa-solid fa-circle"></i> <%= current_user.first_name %> <%= current_user.last_name %></p>
      <p class="name-user"><i class="fa-solid fa-circle"></i> <%= @booking.experience.host.first_name %> <%= @booking.experience.host.last_name %></p>
    </div>
  </div>
  <div class="col-10 p-0">
    <div class="chat padded d-flex flex-column">
      <div class="active-channel-name border-bottom mx-4">
        <p><i class="fa-brands fa-slack"></i> <%= @booking.experience.name %> Experience <%= "(#{@booking.start_date} to #{@booking.end_date})" %></p>
      </div>
      <div class="messages flex-grow-1" data-booking-subscription-target="messages">
        <% @booking.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>
      <%= simple_form_for [@booking, @message],
        html: { data: { action: "turbo:submit-end->booking-subscription#resetForm" }, class: "d-flex w-100 form-control" }  do |f| %>
        <%= f.input :content,
            label: false,
            placeholder: "Message about #{@booking.experience.name} Experience",
            wrapper_html: {class: "flex-grow-1"} %>
        <%= f.submit "Send", class: "btn btn-success mb-3" %>
      <% end %>
    </div>
  </div>
</div>
