<%# Bootstrap category navbar start %>
<nav class="navbar navbar-expand-lg" style="background-color: #6821A6;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Experiences", experiences_path, class: "nav-link active text-white", "aria-current": "page" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @categories.each do |category| %>
              <li><%= link_to category, experiences_path(category: category), class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <%= form_with url: "/flats", class: 'd-flex', type: "search", placeholder: "Search", 'aria-label': "Search", method: :get do |form| %>
          <%= form.text_field :query, class: 'form-control me-2' %>
          <%= form.submit "Search", class: 'btn btn-outline-success' %>
        <% end %>
      </form>
    </div>
  </div>
</nav>
<%# Bootstrap category navbar end %>
<div class="container">
  <h1 class="mt-3">Experiences</h1>
  <div class="cards">
    <% @experiences.each do |experience| %>
      <div class="border-animated card-border">
        <div class="card-trip mx-3">
          <%= experience.photo.key.present? ? cl_image_tag(experience.photo.key) : image_tag("super_mario_arena.gif") %>
          <div class="card-trip-infos">
            <div>
              <h2><%= experience.name %></h2>
              <p><i class="fa-solid fa-map-pin" style="color: red;"></i> <%= experience.address %></p>
            </div>
            <div>
              <p class="badge rounded-pill bg-info text-white mb-1"><%= experience.category %></p>
              <h2 class="card-trip-pricing text-end">¥<%= experience.price.to_i %></h2>
            </div>
          </div>
          <%= link_to "", experience_path(experience[:id]), class: "card-link"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
