<div class="exp-top-image" style="background-image: url('<%= cl_image_path(@experience.photo.key) %>')"></div>
<div class="container">
  <div class="row wrapper">
    <%# Experience Info %>
    <div class="col-md-8 exp-info">
      <div class="exp-info">
        <%# Basic Info %>
        <div class="exp-name-address exp-info-item">
          <div class="d-flex flex-column">
            <h1><%= @experience.name %></h1>
            <p><i class="fa-solid fa-map-pin" style="color: red;"></i> <%= @experience.address %></p>
          </div>
        </div>
        <%# Description %>
        <div class="exp-desc exp-info-item">
          <h3>Description</h3>
          <div class="badge rounded-pill bg-info text-light mb-2"><%= @experience.category %></div>
          <p class="fs-5"><%= @experience.description %></p>
          <p class="text-success"><i class="fa-solid fa-yen-sign"> </i><%= @experience.price.round %> per day</p>
        </div>
        <%# Host Info %>
        <div class="exp-host-info exp-info-item">
          <h3>Host</h3>
          <div class="d-flex justify-content-start align-items-center gap-4">
            <% if  @experience.host.photo.key == nil %>
              <%= image_tag 'placeholder_avatar.png', alt: 'host-avatar', class: "avatar" %>
            <% else %>
              <%= cl_image_path(@experience.host.photo.key, alt: 'host-avatar', class: "avatar") %>
            <% end %>
            <div>
              <p style="margin-bottom: 0px"><%= @experience.host.first_name %> <%= @experience.host.last_name %></p>
              <p><%= @experience.host.phone_number %></p>
            </div>
          </div>
        </div>
        <%# Reviews %>
        <div class="exp-info-item">
          <h3>Latest Reviews</h3>
          <% if @reviews.any? %>
            <% @reviews.each do |review| %>
              <div class="card w-100 mb-3 border border-success">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title"><%= review.user.first_name %> <%= review.user.last_name %></h5>
                    <% if review.user == current_user %>
                      <div><%= link_to 'Delete', review_path(review), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete your review?' } %></div>
                    <% end %>
                  </div>
                  <p class="card-text"><%= review.content %></p>
                  <div class="text-end">
                    <% review.danger_level.times do %>
                      <i class="fa-solid fa-skull"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <p><%= "No reviews yet!" %></p>
          <% end %>
        </div>
      </div>
    </div>
    <%# New Booking Form %>
    <div class="col-md-4 exp-form">
      <div class="exp-info-item" data-controller="total-calculator" data-total-calculator-price-value=<%= @experience.price %>>
        <h3>Book This Experience</h3>
        <%= simple_form_for [@experience, @booking] do |f| %>
          <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker", total_calculator_target: 'start', action: "input->total-calculator#calculate"} } %>
          <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker", total_calculator_target: 'end', action: "input->total-calculator#calculate" } } %>
          <div class="d-flex gap-4">
            <h5 class="d-none" data-total-calculator-target="totalLabel">Your Total: </h5>
            <h5 data-total-calculator-target="total"></h5>
          </div>
          <%= f.button :submit, 'Book', class: 'btn btn-success w-100' %>
        <% end %>
      </div>
      <%# Share Links %>
      <div class="exp-info-item">
        <h3>Share This Experience</h3>
        <ul class="d-flex flex-row flex-start gap-4" style="list-style: none; padding: 0px">
          <li>
            <h1><a style="color: #aaaaaa" href="#"><i class="fa-brands fa-square-facebook"></i></a></h1>
          </li>
          <li>
            <h1><a style="color: #aaaaaa" href="#"><i class="fa-brands fa-square-instagram"></i></a></h1>
          </li>
          <li>
            <h1><a style="color: #aaaaaa" href="#"><i class="fa-brands fa-square-pinterest"></i></a></h1>
          </li>
        </ul>
      </div>
      <%# Write a Review %>
      <% if current_user.bookings.where(experience: @experience).any? && current_user.bookings.where(experience: @experience).first.end_date > Date.today && @experience.reviews.where(user: current_user).empty? %>
        <div class="exp-info-item">
          <button type="button" class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Write a Review
          </button>
        </div>
      <% end %>
      <%# New Review Form %>
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Write a Review</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= simple_form_for @review, url: experience_reviews_path(params[:id])  do |f| %>
                <%= f.input :content %>
                <%= f.input :danger_level, as: :select, collection: (1..5) %>
              </div>
              <div class="modal-footer">
                <%= f.submit 'Post', class: "btn btn-success w-100" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
