<div class="container">
  <h1 class="mt-3">My Experiences</h1>
  <% if @experiences.any? %>
    <div class="cards">
      <% @experiences.each do |experience| %>
        <div class="border-animated card-border">
          <div class="card-trip mx-3">
            <%= cl_image_tag experience.photo.key %>
            <div class="card-trip-infos">
              <div>
                <h2><%= experience.name %></h2>
                <p><i class="fa-solid fa-map-pin" style="color: red;"></i> <%= experience.address %></p>
              </div>
              <div>
                <p class="badge rounded-pill bg-info text-dark mb-1"><%= experience.category %></p>
                <h2 class="card-trip-pricing text-end">¥<%= experience.price.to_i %></h2>
              </div>
            </div>
            <div class="d-grid gap-2">
              <%= link_to "Edit",
              edit_experiences_path(experience), class:"btn btn-success btn-sm mx-2" %>
              <%= link_to "Delete",
              host_experience_path(experience),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
              class:"btn btn-secondary btn-sm mx-2 mb-2" %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>You don't have experiences</p>
    <% end %>
  </div>
</div>
